* {
    box-sizing: border-box;
}

.col-md-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
}
.col-md-2 {
    flex: 0 0 16.667;
    max-width: 16.667%;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.col-md-5 {
    flex: 0 0 41.667;
    max-width: 41.667%;
}
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
}
.col-md-8 {
    flex: 0 0 66.667%;
    max-width: 66.667%;
}
.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-md-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
}
.col-md-11 {
    flex: 0 0 91.667%;
    max-width: 91.667%;
}
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Quattrocento Sans', sans-serif; */
}
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;    
}
.row {    
    display: flex;
    justify-content: space-evenly;    
}
.header {     
    padding: 25px 0;    
    background-color: #1d2026;    
}
.logo a {
    display: block;
    padding: 4px 0;
}
.menu a:first-child {
    border: 2px solid #23b7a4;
    border-radius: 3px;
    color: #23b7a4;
}
.menu a {
    height: 30px;
    font-size: 14px;
    color: #a4aead;
    text-decoration: none;
    text-align: center;
    /* border: 2px solid #a4aead;
    border-radius: 3px; */
    display: block;
    line-height: 25px;
    padding: 0 10px;
}
.menu a:hover {
    border: 2px solid #a4aead;
    border-radius: 3px;
    /* border-color: #23b7a4;
    color: #23b7a4; */
}
/* .logo {border: 1px dotted white}
.search {
    border: 1px dotted white;
    color: white;
} */
.main section {
    height: 660px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.welcome {
    background-image: url(Blog/background-img1.png);
}
.welcome h2 {
    font-family: 'Quattrocento Sans';
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}
.welcome p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ccd0d7;
    padding: 35px 0;
}
.dev-btn {
    display: flex;    
    justify-content: flex-start;
}
.dev-btn button:hover {
    border: 2px solid #23b7a4;
    border-radius: 3px;
    background-color: #23b7a4;
}
.btn-more, .btn-tour {    
    height: 45px;
    width: 125px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Quattrocento Sans';
    font-size: 14px;
    font-weight: bold;
}
@media (max-width:767px) {
    [class*="col-md"] {
        max-width: 100%;       
    }
    .container {
        width: 100%;
    }
    .row {
        display: block;
        margin: 5px 5px;       
    }
    .sd-content {
        display: flex-start;
    }
    .menu {
        overflow: auto;
        white-space: nowrap;
    }
    .menu a {
        display: inline-block;
    }
    div.search {
        display: none;
    }
    .welcome {
        padding: 0 10px;
    }
    .dev-btn {
        display: flex;    
        justify-content: space-evenly;
    }
}